version: "3"
services:
  code2vec:
    build:
      context: .
      dockerfile: Dockerfile
    user: "${C2VUID}:${C2VGID}"
    container_name: code2vec
    volumes:
      - ./:/code2vec/
      - /Users/tomohiro-m/Downloads/unzip_projects:/data
    # runtime: nvidia
    # environment:
    #   - NVIDIA_VISIBLE_DEVICES=all
    stdin_open: true
    working_dir: /code2vec
